<body background="<% @movie.background %>">
	
<p style="color: green"><%= flash[:notice] %></p>

<h1><%= @movie.title %></h1>

<% unless @movie.description.blank? %>
	<p><%= @movie.description %></p>
<% end %>

<br />

<h2><%= link_to "Play", @movie.url, html_options = @movie.html_options %></h2>

</body>