body { background-color: #00000000; color: #fff; }

h1 a {
	color:#44CCCC;
	font-family:arial,sans-serif;
	font-size:46px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	letter-spacing:0;
	line-height:normal;
	text-align:center;
	text-decoration:none;
}

h2 {
	color:#F0FFFF;
	font-family:arial,sans-serif;
	font-size:38px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	letter-spacing:0;
	line-height:normal;
	text-align:justify;
	text-decoration:none;
}

a {
	color:#F0FFFF;
	font-family:arial,sans-serif;
	font-size:20px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	letter-spacing:0;
	line-height:normal;
	text-align:left;
	text-decoration:none;
}

a#previous {
	text-align:left;;
}

a#next {
	text-align:right;
}

a.bottom_links {
	margin:0px 50px;
}

table.content {
	padding:1px;
}

td {
	background-repeat:no-repeat;
}

	
