<div class='admin_status'>
	<% if @movies.nil? then %>
		<%= "#{@movie.title} queued for metadata update" %>
	<% else %>
		<%= "All #{@movies.count} movies queued for metadata update" %>
	<% end %>
</div>